<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @text.text_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @text.value %>
</p>

<%= link_to 'Edit', edit_admin_program_text_path(@text.program_id, @text) %> |
<%= link_to 'Delete', [:admin, @text.program, @text],
      method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_program_texts_path(@text.program_id) %>
