<%= form_for([:admin, @program]) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a id="write-tab" href="#write" role="tab" data-toggle="tab" aria-controls="write" aria-expanded="true">Write</a>
    </li>
    <li role="presentation">
      <a id="preview-tab" href="#preview" role="tab"data-toggle="tab" aria-controls="preview" aria-expanded="false">Preview</a>
    </li>
  </ul>

  <div class="tab-content editor">
    <div role="tabpanel" class="tab-pane active" id="write" aria-labelledby="write-tab">
      <%= f.text_area :content, size: "80x20", class: "form-control" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="preview" aria-labelledby="preview-tab">
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
