<p>
  <strong>Slug:</strong>
  <%= @program.slug %>
</p>

<p>
  <strong>Price:</strong>
  <%= @program.price %>
</p>

<p>
  <strong>Content:</strong>
</p>
<pre><%= @program.content %></pre>

<%= link_to 'Edit', edit_admin_program_path(@program) %> |
<%= link_to 'Back', admin_programs_path %>
