<% provide(:title, 'Purchase') %>
<% if @custom_css %>
  <link href="<%= @custom_css %>" rel="stylesheet" type="text/css">
<% end %>

<%= markdown @sales_text %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @program.name %></h1>
    <div class="price">
      <%= number_to_currency(@price, unit: @current_site.currencySign) %>
    </div>
    <p>Register now.</p>

    <hr />

    <%= form_for(@order) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="payment-errors alert-danger"></div>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <h4>Payment Method</h4>
      <div>
        <%= f.radio_button :pay_method, :card %>
        <%= f.label :pay_method_card, image_tag("cards.png", alt: "Credit card") %>

        <div class="card">
          <div class="form-row">
            <label>
              <span>Card Number</span>
              <input type="text" size="20" data-stripe="number"/>
            </label>
          </div>

          <div class="form-row">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" data-stripe="exp-month"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </div>

          <div class="form-row">
            <label>
              <span>CVC</span>
              <input type="text" size="4" data-stripe="cvc"/>
            </label>
          </div>
        </div>
      </div>
      <div>
        <%= f.radio_button :pay_method, :paypal %>
        <%= f.label :pay_method_paypal, image_tag(
          "https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png",
          alt: "PayPal") %>
      </div>
      <% if @current_site.setting(:bank_transfer_enabled) %>
        <div>
          <%= f.radio_button :pay_method, :bank_transfer %>
          <%= f.label :pay_method_bank_transfer, "Bank Transfer" %>
        </div>
      <% end %>
      <%= hidden_field_tag :code, params[:code] %>

      <div class="actions">
        <%= f.submit "Continue", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
    <br><br><br>
  </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
$(function() {
  Stripe.setPublishableKey('<%= @current_site.setting(:stripe_publishable_key) %>');
  $('form').submit(function(event) {
    var $form = $(this);
    $form.find('input[type=submit]').prop('disabled', true);
    if ($("#order_pay_method_card").is(':checked'))
    {
      Stripe.card.createToken($form, stripeResponseHandler);
      // Prevent the form from submitting with the default action
      return false;
    }
  });
});

function stripeResponseHandler(status, response)
{
  var $form = $('form');
  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('input[type=submit]').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
}
</script>
