<h1>New Module</h1>

<%= form_for([:admin, @program, @program_module]) do |f| %>
  <% if @program_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_module.errors.count, "error") %> prohibited this module from being saved:</h2>

      <ul>
      <% @program_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a id="write-tab" href="#write" role="tab" data-toggle="tab" aria-controls="write" aria-expanded="true">Write</a>
    </li>
    <li role="presentation">
      <a id="preview-tab" href="#preview" role="tab"data-toggle="tab" aria-controls="preview" aria-expanded="false">Preview</a>
    </li>
  </ul>
  <div class="tab-content editor">
    <div role="tabpanel" class="tab-pane active" id="write" aria-labelledby="write-tab">
      <%= f.text_area :content, size: "80x20", class: "form-control" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="preview" aria-labelledby="preview-tab">
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Create this module", class: "btn btn-primary" %>
    <%= link_to 'Cancel', admin_program_program_modules_path(@program_module.program_id) %>
  </div>
<% end %>
