<% content_for :content do %>
  <h1><%= @program.name %></h1>

  <ul class="nav nav-tabs">
    <%= nav_link 'Content', admin_program_path(@program), "programs" %>
    <%= nav_link 'Modules', admin_program_program_modules_path(@program),
          "program_modules" %>
  </ul>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
